name: Render pdf
on: 
    push:
    workflow_dispatch:
jobs:
  render-book:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v5
        - uses: typst-community/setup-typst@v4
        
        - name: Add details
          run: |
            echo "Compiled from #link(\"https://github.com/alxbilger/physx_book/commit/${{ github.sha }}\")[${{ github.sha }}] from " >> src/details.typ
            typst --version >> src/details.typ
        
        - name: Create output dir
          # Note: `github-pages-temp` should not exist yet
          run: mkdir github-pages-temp
        
        - name: Build PDF
          run: |
            cd src
            typst compile main.typ ../github-pages-temp/physx_book.pdf
        
        - name: Upload site files as artifact
          id: deployment
          uses: actions/upload-pages-artifact@v4
          with:
            path: github-pages-temp

        - name: Upload Artifacts
          uses: actions/upload-artifact@v4
          with:
              name: PDF
              path: 'github-pages-temp/physx_book.pdf'
        
        - name: Release
          uses: softprops/action-gh-release@v2
          if: github.ref_type == 'tag'
          with:
              name: "${{ github.ref_name }}"
              files: physx_book.pdf

  deploy:
      needs: render-book

      permissions:
        pages: write
        id-token: write

      # Deploy to the github-pages environment
      environment:
        name: github-pages
        url: ${{ steps.deployment.outputs.page_url }}

      runs-on: ubuntu-latest
      steps:
        - name: Deploy to GitHub Pages
          id: deployment
          uses: actions/deploy-pages@v4